extend layout/main

block header
    include partial/header

block content
    h2 Login form
    if saved
        div Congratulations you create USER
            div= login
            div= pass
    else
        form(method='post', action='/user')
            fieldset
                label(for='login') login
                input(id='login', name='login', value=login)
                hr
                label(for='secondName') secondName
                input(id='secondName', name='secondName', value=secondName)
                hr
                label(for='firstName') firstName
                input(id='firstName', name='firstName', value=firstName)
                hr
                label(for='password') password
                input(id='password', name='password', value=password)
            button(type='submit')
                span Login
block footer
    include partial/footer